.emailField{
width: 300px;
    height: 40px;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
}

.submitBtn {
width: 300px;
    background: darkorange;
    height: 50px;
    border: 0;
;
}